*{
  font-family: "Titan One";
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
.instructions{
  font-size: 50px;
  background-color: red;
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
}