*{
  font-family: "Titan One";
  font-size: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.input-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center; */
  gap: 20px;
}
